body {
  background-color: rgba(173, 168, 168, 0.811);
}
.wrapper {
    padding: 5px;
    background-color: white;
    margin: 10px;
   }
.wrapperContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   .trafficlight {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px;
    height: 200px;
    width: 200px;
   }
   .redLight {
    background-color: red;
    border: 20px solid rgb(135, 4, 4);
   }
   .yellowLight {
    background-color: yellow;
    border: 20px solid rgb(179, 138, 6);
    align-items: end;
   }
   .greenLight {
    background-color: green;
    border: 20px solid rgb(29, 93, 2);
   }
   .trafficLightChild {
    background-color: rgba(255, 255, 255, 0.531);
    height: 50%;
   }
  .redLightChild {
    width: 100%;
   }
   .twinBox {
    width: 50%;
   }
